* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Voltaire', sans-serif;
    font-size: 1rem;
}

.wcw {
    font-size: 160%;
    padding: 1%
}

input {
    margin-left: 1%;
    padding: 0 15% 0 1%;
}

/* Style Header */
/* style container of search */
/* style submit button */
/*  STOP CSS HERE GO TO JAVASCRIPT */
/* style jumbotron */